BBTapes1_UPDATE_5/BBTapes1_UPDATE_3/BBTapes1/Connected Services/MyServiceReference/BBTapesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BBTapeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BBTapeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsersInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="confirmPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersInfo" nillable="true" type="tns:UsersInfo" />
  <xs:complexType name="AlbumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumID" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artistID" type="xs:int" />
      <xs:element minOccurs="0" name="numTracks" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="releaseDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumInfo" nillable="true" type="tns:AlbumInfo" />
  <xs:complexType name="ArrayOfArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistInfo" nillable="true" type="tns:ArrayOfArtistInfo" />
  <xs:complexType name="ArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="artist_DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="artist_ID" type="xs:int" />
      <xs:element minOccurs="0" name="artist_POB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artist_SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artist_image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artist_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artist_type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
  <xs:complexType name="ArrayOfAlbumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumInfo" nillable="true" type="tns:AlbumInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumInfo" nillable="true" type="tns:ArrayOfAlbumInfo" />
  <xs:complexType name="CartInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="albumID" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartInfo" nillable="true" type="tns:CartInfo" />
</xs:schema>