AtEase/AtEaseWeb/AtEaseWeb/AtEaseWeb/Connected Services/AtEaseService/AtEaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AtEaseWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AtEaseWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="degree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isactive" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentClass" nillable="true" type="tns:StudentClass" />
  <xs:complexType name="MerchantClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isactive" type="xs:int" />
      <xs:element minOccurs="0" name="merchID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strikes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MerchantClass" nillable="true" type="tns:MerchantClass" />
  <xs:complexType name="ArrayOfBookClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookClass" nillable="true" type="tns:BookClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookClass" nillable="true" type="tns:ArrayOfBookClass" />
  <xs:complexType name="BookClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookClass" nillable="true" type="tns:BookClass" />
  <xs:complexType name="ArrayOfProductClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductClass" nillable="true" type="tns:ProductClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductClass" nillable="true" type="tns:ArrayOfProductClass" />
  <xs:complexType name="ProductClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="merchID" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="prodID" type="xs:int" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
      <xs:element minOccurs="0" name="reviews" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductClass" nillable="true" type="tns:ProductClass" />
  <xs:complexType name="QuotationClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="merchID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="quoteID" type="xs:int" />
      <xs:element minOccurs="0" name="studentnum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuotationClass" nillable="true" type="tns:QuotationClass" />
  <xs:complexType name="ArrayOfQuotationClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuotationClass" nillable="true" type="tns:QuotationClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuotationClass" nillable="true" type="tns:ArrayOfQuotationClass" />
  <xs:complexType name="ArrayOfMerchantClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MerchantClass" nillable="true" type="tns:MerchantClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMerchantClass" nillable="true" type="tns:ArrayOfMerchantClass" />
  <xs:complexType name="FeedbackClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="feedID" type="xs:int" />
      <xs:element minOccurs="0" name="isRated" type="xs:int" />
      <xs:element minOccurs="0" name="merchID" type="xs:int" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
      <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedbackClass" nillable="true" type="tns:FeedbackClass" />
  <xs:complexType name="ArrayOfFeedbackClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedbackClass" nillable="true" type="tns:FeedbackClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedbackClass" nillable="true" type="tns:ArrayOfFeedbackClass" />
</xs:schema>