AtEase/AtEaseWeb/AtEaseWeb/AtEaseWeb/Connected Services/AtEaseService/AtEaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ateasenewwcf.azurewebsites.net/AtEaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AtEaseWCF" />
  <xs:import schemaLocation="http://ateasenewwcf.azurewebsites.net/AtEaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="s" nillable="true" type="q1:StudentClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStuRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStuRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsStuRegisteredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="s" nillable="true" type="q2:MerchantClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMerchantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMerchRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMerchRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMerchRegisteredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkStudentActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkStudentActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkStudentActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetHomeBooksResult" nillable="true" type="q3:ArrayOfBookClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchantLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchantLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerchantLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkMerchantActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkMerchantActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkMerchantActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManagerLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetBookResult" nillable="true" type="q4:BookClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMerchants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMerchantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetProductMerchantsResult" nillable="true" type="q5:ArrayOfProductClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetMerchantResult" nillable="true" type="q6:MerchantClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetMerchProductResult" nillable="true" type="q7:ProductClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addtoQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="Q" nillable="true" type="q8:QuotationClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addtoQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addtoQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStuNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStuNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStuNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuoteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuoteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="getQuoteInfoResult" nillable="true" type="q9:ArrayOfQuotationClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMerchRatingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMerchIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllMerchProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllMerchProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="AllMerchProductsResult" nillable="true" type="q10:ArrayOfProductClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="m" nillable="true" type="q11:MerchantClass" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMerchantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="mbc" nillable="true" type="q12:ProductClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMerchProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNewMerchBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNewMerchBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNewMerchBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMerchants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMerchantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="GetAllMerchantsResult" nillable="true" type="q13:ArrayOfMerchantClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMerchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMerchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeMerchProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMerchPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMerchPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMerchPriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getISBN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getISBNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMerchReviewsResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rating" type="xs:int" />
        <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="fb" nillable="true" type="q15:FeedbackClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AtEaseWCF" minOccurs="0" name="getAllFeedbackResult" nillable="true" type="q16:ArrayOfFeedbackClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setIsRated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuNummber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchId" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setIsRatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setIsRatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
        <xs:element minOccurs="0" name="stuNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIsRatedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportMerchantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeMerchantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeOwnerProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeOwnerProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeOwnerProductsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removefromFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removefromFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removefromFeedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>